.empty
.vscode
.mypy_cache
.pytest_cache
crawl
__pycache__
*/node_modules
node_modules
default.profraw
.favorites.json
*.log
.quasar
web/.quasar
web/.quasar/*.js
.DS_Store
.thumbs.db
node_modules
functions/node_modules
/dist
web/dist
/src-cordova/node_modules
/src-cordova/platforms
/src-cordova/plugins
/src-cordova/www
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.firebase/hosting.*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
package-lock.json
yarn.lock